<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Foodies Hunt</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <!-- Meta tag Description -->
  <meta name="description" content="Foodies Hunt is a website dedicated to providing information about the best restaurants around you. Discover various types of food, user reviews, and more on Foodies Hunt.">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <!-- NAVIGATION -->
  <navigation-element></navigation-element>

  <!-- JUMBOTRON -->
  <hero-element></hero-element>

  <!-- MAIN CONTENT/DAFTAR RESTORAN-->
  <main id="main-content" tabindex="0">
    <div id="restaurant-container"></div>
  </main>

  <!-- FOOTER -->
  <footer>
      <footer-element></footer-element>
  </footer>
</body>
</html>
