@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 800px) {
  .list_item {
    width: 100%;
    margin-right: 0;
  }
  .list_item_title {
    min-width: 44px;
    min-height: 44px;
    font-size: 24px;
    color: #000;
    text-decoration: none;
  }
}

@media only screen and (max-width: 650px) {
  .hero {
    background: url(/images/heros/hero-image_4-small.jpg);
  }
}

@media only screen and (min-width: 651px) {
  .hero {
    background: url(/images/heros/hero-image_4-large.jpg);
  }
}
